<div class="landing">
    <div class="landing1">
        <div class="justificar">
            <div class="titulo">
                <h1 style="font-size: 60px;">Bienvenido a <span style="color: #FFFF00;">JS</span><span>CODEGAMER</span></h1>
            </div>
            <div class="subtitulo">
                <p style="font-size: 27px;">El mejor juego para aprender a programar que jamás hayas visto.</p>
            </div>
            <div class="end"> 
                <div class="astronauta"></div>
                <div class="texto">
                    <p style="font-size: 20px;">JSCodeGamer es una aplicación que ofrece 
                        una introducción dinámica y divertida a la programación. Acompañado
                        por Jimmy, nuestro astronauta guía, explorarás el universo mientras 
                        aprendes las bases de la programación. ¡Inicia tu viaje espacial como 
                        programador!
                    </p>
                </div>
            </div>
        </div>
    </div>
    


    <div class="landing2">
        <div class="inclinado1">
            <div class="textInclinado1"># Cómo funciona</div>
        </div>
        <div class="aprender">
            <div class="imgAprender"></div>
            <div class="boton">
                <button class="btn">APRENDER</button>
            </div>
            <div class="info1">
                <p>Explora la galaxia de JavaScript, ganando experiencia
                <br/>para descubrir nuevos planetas y recolectar insignias
                <br/>en tu camino. ¡Embárcate en esta emocionante travesía 
                <br/>espacial!</p>
            </div>
        </div>

        <div class="jugar">
            <div class="imgJugar"></div>
            <div class="boton2">
                <button class="btn2">JUGAR</button>
            </div>
            <div class="info2">
                <p>Sube de nivel tus habilidades de 
                <br/>codificación junto a otros estudiantes  
                <br/>de la comunidad. participa en los retos
                <br/>propuestos.</p>
            </div>
        </div>
    <!-- </div>



    <div class="landing3"> -->
        <div class="inclinado2">
            <div class="textInclinado2">#JSCodeGamerSquad</div>
        </div>
        <div class="imgEquipo"></div>
        <div class="equipo">
            <p style="font-size: 20px;">En la galaxia de JSCodeGamer, intrépidos astronautas digitales exploran el código estelar, conquistando desafíos cósmicos y formando la vanguardia de la creatividad galáctica. Cada línea de código es una nueva frontera en la búsqueda de la excelencia tecnológica. ¡Únete a JSCodeGamer y despega hacia el infinito digital!
            <br/><span style="color: yellow;">#JSCodeGamerExplorers</span></p>
        </div>
    </div>
</div>
