<div class="landing">
    <div class="landing1">
        <div class="justificar">
            <div class="titulo">
                <h1>Bienvenido a <span>JSCODEGAMER</span></h1>
            </div>
            <div class="subtitulo">
                <p>El mejor juego para aprender a programar que jamás hayas visto.</p>
            </div>
            <div class="texto">
                <p>JSCodeGamer es una Aplicación que te va a enseñar una base de programación
                    de una manera dinámica y divertida para que puedas comenzar a 
                    desarrollarte como programador desde el espacio exterior con 
                    la ayuda de Jimmy nuestro astronauta que te guiará por el
                    universo para ver qué es lo que te aguarda.</p>
            </div>
        </div>
    </div>
    


    <div class="landing2">
        <div class="aprender">
            <div class="boton">
                <button class="btn">APRENDER</button>
            </div>
            <div class="info1">
                <p>Viaja a través de la galaxia de fantasía de 
                <br/>JavaScript. En el camino, gana porcentaje 
                <br/>de experiencia para descubrí nuevos 
                <br/>planetas y recolectar insignias.</p>
            </div>
        </div>

        <div class="jugar">
            <div class="boton2">
                <button class="btn2">JUGAR</button>
            </div>
            <div class="info2">
                <p>Sube de nivel tus habilidades de 
                <br/>codificación junto a otros estudiantes  
                <br/>de la comunidad. participa en los retos
                <br/>propuestos.</p>
            </div>
        </div>
    </div>



    <div class="landing3">
        <div class="equipo">
            <p style="font-size: 20px;">En la lejana galaxia de JSCodeGamer, un equipo de intrépidos 
            <br/>astronautas digitales se aventura en la vastedad del código estelar. Con 
            <br/>sus teclados como naves espaciales, exploran nuevos lenguajes y
            <br/>conquistan desafíos cósmicos de programación. Juntos, forman la 
            <br/>vanguardia de la creatividad galáctica, donde cada línea de código es
            <br/>una nueva frontera en la búsqueda de la excelencia tecnológica. ¡Únete a
            <br/>JSCodeGamer y prepárate para despegar hacia el infinito digital!
            <br/><span style="color: yellow;">#JSCodeGamerExplorers</span></p>
        </div>
    </div>
</div>
