<section>
    <!-- <h1><span>Únete </span>A NOSOTROS</h1> -->
    <form>
      <input
        type="text"
        name="name"
        id="name"
        placeholder="Nombre"
      >
      <input
        type="text"
        name="surname"
        id="surname"
        placeholder="Apellido"
      >
      <input
        type="text"
        name="photo"
        id="photo"
        placeholder="Foto de perfil"
      >
      <input
        type="email"
        name="email"
        id="email"
        placeholder="Email"
      >
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Contarseña"
      >
      <input
        type="password"
        name="password"
        id="password"
        placeholder="Confirmar Contarseña"
      >
      <button type="submit" (click)="onSubmit()">REGISTRARSE</button>
    </form>
    <div>
        <img src="../../../assets/images/astronauta_sinfondo.png" alt="astronauta">
    </div>
  </section>

