.landing{
/* border: 1px solid red; */
/* height: 800px; */
background-image: url("../../../assets/images/fondo.Quienes.Somos.png");
background-size: cover;
background-repeat: no-repeat;
}
.titulo{
    /* border: 1px solid red; */
    height: 20vh;
    letter-spacing: 1vw;
    font-size: 3vw;
    

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img {
    width: 5vw;
    height: auto;
    margin-right: 2vw;
  }
p {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
.equipos{
    /* border: 1px solid yellowgreen; */
    /* height: 80vh; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.equipo{
    /* border: 1px solid red; */
    height: 700px;
    width: 400px;
    border-radius: 200px;
    background-image: url("../../../assets/images/fondo_estrellas.jpg");
 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    margin: 10px;
}
.imagen1{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen2{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen3{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    /* border: 1px solid red; */
    height: 25vh;
    width: 95%;
    text-align: center;
    padding: 1vw;
}
.rrss{
    /* border: 1px solid red; */
    height: 5vh;
    width: 95%;
}
ul {
    font-size: 2vw;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  li {
    cursor: pointer;
    color: white;
  }
  
  li:hover {
    color: #FFFF00;
  }

