.landing{
    background-color: black;
    /* border: 1px solid red; */
    /* height: 800px; */
    background-image: url("../../../assets/images/pag_Quienes.Somos.2.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.titulo{
    /* border: 1px solid red; */
    height: 15vh;
    letter-spacing: 0.7vw;
    font-size: 3vw;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.star {
    width: 4vw;
    height: auto;
    margin-right: 2vw;
  }

p {
    font-family: 'Roboto', sans-serif;
    color: white;
  }

.equipos{
    /* border: 1px solid yellowgreen; */
    margin-top: 20px;
    /* height: 80vh; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.equipo{
    /* border: 1px solid red; */
    height: 670px;
    width: 400px;
    border-radius: 200px;
    background-image: url("../../../assets/images/fondo_estrellas.jpg");
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 100px;
}

.imagen1,
.imagen2,
.imagen3 {
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    /* background-image: url("../../../assets/images/Quienes-Somos-Indiana.JPG");
    background-repeat: no-repeat;
    background-size: 100% 125%; */
}

.imagen1 > img,
.imagen2 > img,
.imagen3 > img {
  height: auto;
  width: 100%;
  position: absolute;
}

.imagen1 > img {
  top: -60px;
}

.imagen2 > img {
  top: -55px;
}

.imagen3 > img {
  top: -70px;
}

.caja{
    /* border:2px solid red; */
    height: 35vh;
    position: relative;
    background-color: rgba(0, 0, 0, 0.758);
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
}

.info{
    /* border: 1px solid red; */
    height: 25vh;
    padding: 15px;
    text-align: center;
    line-height: 20px;
}

.rrss{
    /* border: 1px solid red; */
    height: 5vh;
    gap: 30px;
}

ul {
    font-size: 2vw;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  a {
    cursor: pointer;
    color: white;
  }

  a:hover {
    color: #FFFF00;
  }
