<div class="landing">
    <div class="titulo">
        <img src="../../../assets/images/Star.QS.png" alt="">
        <p>¿Quiénes somos?</p>
    </div>
    <div class="equipos">
        <div class="equipo">
            <div class="imagen1"></div>
            <div class="caja">
                <div class="info">
                    <p style="font-size: 25px;"><span style="color: #FFFF00;">INDIANA</span> GRANADO</p>
                    <br/>
                    <p><span style="color: #FFFF00;">Desarrolladora Web Altamente Creativa:</span></p>
                    <p>
                        Experta en la creación de experiencias web cautivadoras, fusionando habilidades técnicas sólidas y un enfoque creativo para desarrollar sitios innovadores con los estándares más recientes.</p>
                </div>
                <ul class="rrss">
                  <li><a href="https://www.linkedin.com/in/indiana-granado-andrade-552412149/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="https://github.com/indianag" target="_blank"><i class="bi bi-github"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="equipo">
            <div class="imagen2"></div>
            <div class="caja">
            <div class="info">
                <p style="font-size: 25px;"><span style="color: #FFFF00;">KATIA</span> KUSHNIR</p>
                <br/>
                <p><span style="color: #FFFF00;">Desarrolladora Web Versátil y Colaborativo:</span></p>
                <p>Experta en diversos lenguajes de programación, destaco en soluciones web adaptables y colaboro eficazmente en equipos multidisciplinarios. Mi enfoque versátil garantiza entregas exitosas y funcionales.</p>
            </div>
            <ul class="rrss">
                <li><a href="https://www.linkedin.com/in/ekaterina-kushnir-mikhaylova/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                <li><a href="https://github.com/katiaku" target="_blank"><i class="bi bi-github"></i></a></li>
            </ul>
        </div>
        </div>
        <div class="equipo">
            <div class="imagen3"></div>
            <div class="caja">
                <div class="info">
                    <p style="font-size: 25px;"><span style="color: #FFFF00;">MARCO</span> WIENS</p>
                    <br/>
                    <p><span style="color: #FFFF00;">Programador Apasionado por la Eficiencia:</span></p>
                    <p>Apasionado por optimizar el código y especializado en desarrollo web para aplicaciones rápidas y robustas. Mi enfoque meticuloso garantiza soluciones tecnológicas eficientes y escalables.</p>
                </div>
                <ul class="rrss">
                  <li><a href="https://www.linkedin.com/in/marco-wiens-fern%C3%A1ndez-93a974144/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
                  <li><a href="https://github.com/" target="_blank"><i class="bi bi-github"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
