.landing{
/* border: 1px solid red; */
/* height: 800px; */
background-image: url("../../../assets/images/pag_Quienes.Somos.2.png");
background-size: cover;
background-repeat: no-repeat;
}
.titulo{
    /* border: 1px solid red; */
    height: 15vh;
    letter-spacing: 0.7vw;
    font-size: 3vw;
    

    display: flex;
    justify-content: center;
    align-items: flex-end;
}
img {
    width: 4vw;
    height: auto;
    margin-right: 2vw;
  }
p {
    font-family: 'Roboto', sans-serif;
    color: white;
  }
.equipos{
    /* border: 1px solid yellowgreen; */
    margin-top: 20px;
    /* height: 80vh; */

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.equipo{
    /* border: 1px solid red; */
    height: 670px;
    width: 400px;
    border-radius: 200px;
    background-image: url("../../../assets/images/fondo_estrellas.jpg");
 
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-evenly; */
    /* margin: 10px; */
    margin-bottom: 100px;
}
.imagen1{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen2{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.imagen3{
    /* border: 1px solid red; */
    height: 39vh;
    width: 95%;
    border-radius: 50%;
    background-image: url("../../../assets/images/niño.libro.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.info{
    /* border: 1px solid red; */
    height: 20vh;
    width: 95%;
    text-align: center;
    padding: 0.5vw;
    background-color: rgba(0, 0, 0, 0.758);
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    line-height: 20px;
    margin: 15px;
}
.rrss{
    /* border: 1px solid red; */
    height: 5vh;
    width: 80%;
    gap: 20px;
    /* background-color: rgba(0, 0, 0, 0.758); */

}
ul {
    font-size: 2vw;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  li {
    cursor: pointer;
    color: white;
  }
  
  li:hover {
    color: #FFFF00;
  }

