<div class="landing">
    <div class="titulo">
       <img src="../../../assets/images/Star.QS.png" alt=""> 
        <p>¿Quiénes somos?</p>
    </div>
    <div class="equipos">
        <div class="equipo">
            <div class="imagen1"></div>
            <div class="info">
                <p>Nombre: <span style="color: #FFFF00;">INDIANA</span></p>
                <p>Apellido: GRANADO</p>
                <br/>
                <p><span style="color: #FFFF00;">Desarrolladora Web Altamente Creativa:</span></p>
                <p>Experta en la creación de experiencias web cautivadoras, combino habilidades técnicas sólidas con un enfoque creativo para diseñar y desarrollar sitios web innovadores que cumplen con los estándares más recientes.</p>
            </div>
            <ul class="rrss">
                <li><i class="bi bi-linkedin"></i></li>
            </ul>
        </div>
        <div class="equipo">
            <div class="imagen2"></div>
            <div class="info">
                <p>Nombre: <span style="color: #FFFF00;">KATIA</span></p>
                <p>Apellido: </p>
                <br/>
                <p><span style="color: #FFFF00;">Desarrolladora Web Versátil y Colaborativo:</span></p>
                <p>Con habilidades en múltiples lenguajes de programación, me destaco en la creación de soluciones web adaptables y colaboro eficazmente en equipos multidisciplinarios. Mi enfoque versátil y proactivo garantiza entregas exitosas y funcionales.</p>
            </div>
            <ul class="rrss">
                <li><i class="bi bi-linkedin"></i></li>
            </ul>
        </div>
        <div class="equipo">
            <div class="imagen3"></div>
            <div class="info">
                <p>Nombre: <span style="color: #FFFF00;">MARCO</span></p>
                <p>Apellido: WIENS</p>
                <br/>
                <p><span style="color: #FFFF00;">Programador Apasionado por la Eficiencia:</span></p>
                <p>Apasionado por la optimización del código y la eficiencia, me especializo en el desarrollo web para garantizar aplicaciones rápidas y robustas. Mi enfoque meticuloso en la programación garantiza soluciones tecnológicas eficientes y escalables.</p>
            </div>
            <ul class="rrss">
                <li><i class="bi bi-linkedin"></i></li>
            </ul>
        </div>
    </div>
</div>
