.main{
    display: flex;
    height: calc(100vh - 3rem);
    font-family: 'Roboto', sans-serif;
}

.profileData{
    /* border: 5px solid red; */
    background-color: black;
    height: calc(100vh - 3rem);
    width: 20%;
    display: flex;
    justify-content: center;
    position: fixed;
}

.datarow{
    /* border: 5px solid green; */
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
}

.imgperf{
    width: 100%;
    height: 35%;
}

.data{
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    align-self: center;
    height: 150px;
    text-align: center;
    margin-top: -20%;
    font-size: 1.3rem;
}

button {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    width: 210px;
    height: 45px;
    border: 2px solid #7451FF;
    border-radius: 15px;
    box-shadow: 0 2px 0#7451FF;
    align-self: center;
    transition: 1s linear;
  }

button:hover {
  background-color: #FFFF00;
}

.logros{
    background-image: url(../../../assets/images/fondo_estrellas.jpg);
    background-size: auto;
    background-attachment: fixed;
    height: 140vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20%;
}

h1{
    color: white;
    margin-top: 5%;
    font-family: 'Monoton', sans-serif;
    font-size: xx-large;
    font-weight: 200;
    word-spacing: 0.5rem;
    padding-top: 2rem;
}

.badges{

    margin-top: 2%;
    height: 130px;
    background-color: rgba(255, 255, 255, 0.396);
    width: 80%;
    border-radius: 15px;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}
.medallas {
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


h2{
    color: #FFFF00;
    padding-left: 15px;
    padding-top: 40px;
    font-family: 'Monoton', sans-serif;
    font-weight: 100;
    text-decoration: underline;

}
.medalGamer{
  height: 40px;
  width: 40px;
  border-radius: 20px; 
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  animation: fadeInAndScale 1s ease-out forwards;
}

@keyframes fadeInAndScale {
  0% {
    opacity: 0;
    transform: scale(5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.medalGamer:nth-child(1) {
  animation: fadeInAndScale 0.5s ease-out 0s forwards;
}

.medalGamer:nth-child(2) {
  animation: fadeInAndScale 0.5s ease-out 2s forwards;
}

.medalGamer:nth-child(3) {
  animation: fadeInAndScale 0.5s ease-out 4s forwards;
}







.medal{
    height: 30px;
    width: 30px;
    margin-left: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.perc{
    font-family: 'Monoton', sans-serif;
    font-weight: 100;
}

.perc_1 {
  color: #FFFF00;
}

.perc_2 {
  color: #7451FF;
}

.perc_3 {
  color: #82FEE7;
}

.titulo{
    color: white;
    padding-bottom: .4rem;
}

.niveles{
    margin-top: 2% ;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* border: solid red 5px; */
    width: 80%;
}

.nivel{
    display: flex;
    /* border: 5px solid green; */
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.unitData {
  display: flex;
  width: 80%;
  align-items: flex-end;
  justify-content: space-between;
  margin-right: 1rem;
}

.barra{
    border: 3px solid;
    height: 25px;
    width: 100%;
    border-radius: 12px;
}

.barra_1 {
  border-color: #FFFF00;
}

.barra_2 {
  border-color: #7451FF;
}

.barra_3 {
  border-color: #82FEE7;
}

.barra_dentro{
    margin-top: -0.05%;
    height: 22px;
    width: 0%;
    border-radius: 9px;
    background-color: #FFFF00;
    border-color: #FFFF00;
    max-width: 100%;
}

.barra_dentro_1 {
  border-color: #FFFF00;
  background-color: #FFFF00;
  width: 50%;
  overflow: hidden;
}

.barra_dentro_2 {
  border-color: #7451FF;
  background-color: #7451FF;
}

.barra_dentro_3 {
  border-color: #82FEE7;
  background-color: #82FEE7;
}

