<section class="main">
    <section class="profileData">
        <div class="datarow">
            <img src="../../../assets/images/avatar 1.png" alt="" class="imgperf">
            <div class="data">
                <h3>Nombre</h3>
                <h3>Apellido</h3>
                <h3>Email</h3>
            </div>
            <button>MODIFICAR PERFIL</button>
        </div>
    </section>
    <section class="logros">
        <h1>Logros y Progresión</h1>
        <div class="badges">
            <h2>MEDALLAS:</h2>
            <div class="medallas">
                <img src="../../../assets/images/nivel1_medalla.png" alt="" class="medal">
                <img src="../../../assets/images/nivel2_medalla.png" alt="" class="medal">
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div style="display: flex; width: 50%; justify-content: space-between;" >
                    <h4 class="titulo">Nivel 1: Conceptos Básicos JS</h4>
                    <img src="../../../assets/images/nivel1_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc">100%</h3>
            </div>
            <div class="barra">
                <div class="barra_dentro"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div style="display: flex; width: 30%; justify-content: space-between;" >
                    <h4 class="titulo">Nivel 2: Condicionales</h4>
                    <img src="../../../assets/images/nivel2_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc2">100%</h3>
            </div>
            <div class="barra2">
                <div class="barra_dentro_2" ></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div style="display: flex; width: 30%; justify-content: space-between;" >
                    <h4 class="titulo">Nivel 3: </h4>
                    <img src="../../../assets/images/nivel3_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc2">25%</h3>
            </div>
            <div class="barra2">
                <div class="barra_dentro_3" ></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div style="display: flex; width: 30%; justify-content: space-between;" >
                    <h4 class="titulo">Nivel 4: </h4>
                    <img src="../../../assets/images/nivel4_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc2">0%</h3>
            </div>
            <div class="barra2">
                <div class="barra_dentro_4" ></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div style="display: flex; width: 30%; justify-content: space-between;" >
                    <h4 class="titulo">Nivel 5: </h4>
                    <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc2">0%</h3>
            </div>
            <div class="barra2">
                <div class="barra_dentro_5" ></div>
            </div>
        </div>

    </section>

</section>
