<section class="main">
    <section class="profileData">
        <div class="datarow">
            <img src="../../../assets/images/avatar 1.png" alt="" class="imgperf">
            <div class="data">
                <h3>Username</h3>
                <h3>Email</h3>
            </div>
            <button (click)="modify()">MODIFICAR PERFIL</button>
        </div>
    </section>
    <section class="logros">
        <h1>Logros y Progresión</h1>
        <div class="badges">
            <h2>MEDALLAS:</h2>
            <div class="medallas">
                <img src="../../../assets/images/nivel1_medalla.png" alt="" class="medal">
                <img src="../../../assets/images/nivel2_medalla.png" alt="" class="medal">
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 1: Introducción a JavaScript</h4>
                    <img src="../../../assets/images/nivel1_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_1">100%</h3>
            </div>
            <div class="barra barra_1">
                <div class="barra_dentro barra_dentro_1"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 2: Variables y Tipos de Datos</h4>
                    <img src="../../../assets/images/nivel2_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_2">100%</h3>
            </div>
            <div class="barra barra_2">
                <div class="barra_dentro barra_dentro_2"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 3: Operadores y Expresiones</h4>
                    <img src="../../../assets/images/nivel3_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_3">25%</h3>
            </div>
            <div class="barra barra_3">
                <div class="barra_dentro barra_dentro_3"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 4: Estructuras de Control</h4>
                    <img src="../../../assets/images/nivel4_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_1">0%</h3>
            </div>
            <div class="barra barra_1">
                <div class="barra_dentro barra_dentro_1"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 5: Funciones</h4>
                    <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_2">0%</h3>
            </div>
            <div class="barra barra_2">
                <div class="barra_dentro barra_dentro_2"></div>
            </div>
        </div>
        <div class="niveles">
          <div class="nivel">
              <div class="unitData">
                  <h4 class="titulo">Nivel 6: Arreglos y Objetos</h4>
                  <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
              </div>
              <h3 class="perc perc_3">0%</h3>
          </div>
          <div class="barra barra_3">
              <div class="barra_dentro barra_dentro_3"></div>
          </div>
        </div>
        <div class="niveles">
          <div class="nivel">
              <div class="unitData">
                  <h4 class="titulo">Nivel 7: DOM y Eventos</h4>
                  <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
              </div>
              <h3 class="perc perc_1">0%</h3>
          </div>
          <div class="barra barra_1">
              <div class="barra_dentro barra_dentro_1"></div>
          </div>
      </div>
      <div class="niveles">
        <div class="nivel">
            <div class="unitData">
                <h4 class="titulo">Nivel 8: AJAX y Promesas</h4>
                <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
            </div>
            <h3 class="perc perc_2">0%</h3>
        </div>
        <div class="barra barra_2">
            <div class="barra_dentro barra_dentro_2"></div>
        </div>
      </div>
      <div class="niveles">
        <div class="nivel">
            <div class="unitData">
                <h4 class="titulo">Nivel 9: Programación Orientada a Objetos (OOP)</h4>
                <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
            </div>
            <h3 class="perc perc_3">0%</h3>
        </div>
        <div class="barra barra_3">
            <div class="barra_dentro barra_dentro_3"></div>
        </div>
      </div>
    </section>
</section>
