<section class="main">
    <section class="profileData">
        <div class="datarow">
            <img src={{user.photo}} alt="user-login" class="imgperf">
            <div class="data">
                <span>{{user.name_surname}}</span>
                <h3>@{{user.username}}</h3>
                <h3>{{user.email}}</h3>
            </div>
            <button (click)="modify()">MODIFICAR PERFIL</button>
        </div>
    </section>
    <section class="logros">
        <h1 class="h1">Logros y Progresión</h1>
        <div class="badges" >
            <h2>MEDALLAS:</h2>
            <div class="medallas" *ngFor="let nivel of nivelesData; let i = index">
                <img *ngIf="nivel.percentage == 100" [src] = "nivelColores[nivel.title].medalla" alt="" class="medalGamer" [style.animation-delay]="i * 0.5 + 's'">
            </div>
        </div>

        <div *ngFor="let nivel of nivelesData; let i = index" class="niveles">
            <div class="nivel" [style.border]="nivelColores[nivel.title].borde">
                <div class="unitData">
                    <h4 class="titulo">NIVEL {{ i + 1 }}: {{ nivel.title }}</h4>
                    <img [src] = "nivelColores[nivel.title].medalla"  class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_1" [style.color]="nivelColores[nivel.title].percentage">{{ nivel.percentage }}%</h3>
            </div>
            <div class="barra barra_1" [style.border-color]="nivelColores[nivel.title].borde">
                <div class="barra_dentro barra_dentro_1" [style.width.%]="nivel.percentage"[style.backgroundColor]="nivelColores[nivel.title].percentage"></div>
            </div>
        </div>

    </section>
</section>

































 <!-- <img *ngIf="nivel.percentage === 100" src="../../../assets/images/nivel2_medalla.png" alt="" class="medal">
                <img *ngIf="nivel.percentage === 100" src="../../../assets/images/nivel3_medalla.png" alt="" class="medal">
                <img *ngIf="nivel.percentage === 100" src="../../../assets/images/nivel4_medalla.png" alt="" class="medal">
                <img *ngIf="nivel.percentage === 100" src="../../../assets/images/nivel5_medalla.png" alt="" class="medal"> -->
<!--


        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 2: Variables y Tipos de Datos</h4>
                    <img src="../../../assets/images/nivel2_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_2">10%</h3>
            </div>
            <div class="barra barra_2">
                <div class="barra_dentro barra_dentro_2"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 3: Operadores y Expresiones</h4>
                    <img src="../../../assets/images/nivel3_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_3">25%</h3>
            </div>
            <div class="barra barra_3">
                <div class="barra_dentro barra_dentro_3"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 4: Estructuras de Control</h4>
                    <img src="../../../assets/images/nivel4_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_1">0%</h3>
            </div>
            <div class="barra barra_1">
                <div class="barra_dentro barra_dentro_1"></div>
            </div>
        </div>
        <div class="niveles">
            <div class="nivel">
                <div class="unitData">
                    <h4 class="titulo">Nivel 5: Funciones</h4>
                    <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
                </div>
                <h3 class="perc perc_2">0%</h3>
            </div>
            <div class="barra barra_2">
                <div class="barra_dentro barra_dentro_2"></div>
            </div>
        </div>
        <div class="niveles">
          <div class="nivel">
              <div class="unitData">
                  <h4 class="titulo">Nivel 6: Arreglos y Objetos</h4>
                  <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
              </div>
              <h3 class="perc perc_3">0%</h3>
          </div>
          <div class="barra barra_3">
              <div class="barra_dentro barra_dentro_3"></div>
          </div>
        </div>
        <div class="niveles">
          <div class="nivel">
              <div class="unitData">
                  <h4 class="titulo">Nivel 7: DOM y Eventos</h4>
                  <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
              </div>
              <h3 class="perc perc_1">0%</h3>
          </div>
          <div class="barra barra_1">
              <div class="barra_dentro barra_dentro_1"></div>
          </div>
      </div>
      <div class="niveles">
        <div class="nivel">
            <div class="unitData">
                <h4 class="titulo">Nivel 8: AJAX y Promesas</h4>
                <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
            </div>
            <h3 class="perc perc_2">0%</h3>
        </div>
        <div class="barra barra_2">
            <div class="barra_dentro barra_dentro_2"></div>
        </div>
      </div>
      <div class="niveles">
        <div class="nivel">
            <div class="unitData">
                <h4 class="titulo">Nivel 9: Programación Orientada a Objetos (OOP)</h4>
                <img src="../../../assets/images/nivel5_medalla.png" class="medal" style="margin-top: -6%;" alt="">
            </div>
            <h3 class="perc perc_3">0%</h3>
        </div>
        <div class="barra barra_3">
            <div class="barra_dentro barra_dentro_3"></div>
        </div>
      </div> -->