<div class="landing">
    <div class="heider"></div>
    <div class="mundos">
        <div class="astronauta"></div>
        <div class="planeta1"></div>
        <div class="planeta2"></div>
        <div class="planeta3"></div>
        <div class="planeta4"></div>
        <div class="planeta5"></div>
        <div class="planeta6"></div>
        <div class="planeta7"></div>
        <div class="planeta8"></div>
        <div class="planeta9"></div>
        <button class="btn1">1</button>
        <button class="btn2">2</button>
        <button class="btn3">3</button>
        <button class="btn4">4</button>
        <button class="btn5">5</button>
        <button class="btn6">6</button>
        <button class="btn7">7</button>
        <button class="btn8">8</button>
        <button class="btn9">9</button>
        <div class="puntero"></div>
        <div class="etiqueta">
            <div class="texto">
                <p><span style="font-family: 'Monoton', sans-serif; color: #FFFF00;">NIVEL 1</span></p>
                <p>Conceptos Básicos JS</p>
                <a href="#" class="start">START</a>
            </div>
        </div>
        
       
    </div>
    <div class="footer"></div>
</div>
