.landing{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'Roboto', sans-serif;
}

.mundos{
  height: 100vh;
  background-image: url("../../../assets/img/solarsys1.webp");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.heider{
  height: 3.5rem;
}

.footer{
  height: 3rem;
}

p > span{
  font-family: 'Monoton', sans-serif;
  color: #FFFF00;
}

button{
  background-color: transparent;
  padding: 10px 15px;
  font-size: 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Monoton', sans-serif;
  color: #FFFF00;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

button:hover {
  transform: scale(2) rotate(-360deg);
}

.btn1{
  position: fixed;
  top: 76%;
  right: 78%;
}

.btn2{
  position: fixed;
  top: 55%;
  right: 63%;
}

.btn3{
  position: fixed;
  top: 56%;
  right: 54%;
}

.btn4{
  position: fixed;
  top: 46%;
  right: 49%;
}

.btn5{
  position: fixed;
  top: 47%;
  right: 34%;
}

.btn6{
  position: fixed;
  top: 35%;
  right: 34%;
}

.btn7{
  position: fixed;
  top: 38%;
  right: 18%;
}

.btn8{
  position: fixed;
  top: 27%;
  right: 27%;
}

.btn9{
  position: fixed;
  top: 18%;
  right: 11%;
}

.planeta1,
.planeta2,
.planeta3,
.planeta4,
.planeta5,
.planeta6,
.planeta7,
.planeta8,
.planeta9{
  position: fixed;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta1{
  top: 48%;
  right: 70.2%;
  width: 18.3%;
  height: 28%;
}

.planeta2{
  top: 52%;
  right: 63.5%;
  width: 2.4%;
  height: 3.9%;
  /* color:white;
  display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 9;
}

.planeta3{
  top: 49.3%;
  right: 53.2%;
  width: 4.3%;
  height: 6.9%;
}

.planeta4{
  top: 41%;
  right: 50.6%;
  width: 4.4%;
  height: 6.7%;
}

.planeta5{
  top: 43.5%;
  right: 36.3%;
  width: 3.4%;
  height: 5.2%;
}

.planeta6{
  top: 30%;
  right: 36.7%;
  width: 7%;
  height: 11.1%;
}

.planeta7{
  top: 30.1%;
  right: 19.7%;
  width: 6.5%;
  height: 10.1%;
}

.planeta8{
  top: 24%;
  right: 29.3%;
  width: 2.8%;
  height: 4%;
}

.planeta9{
  top: 24.1%;
  right: 13.5%;
  width: 2.4%;
  height: 3.8%;
}

.planeta1:hover,
.planeta2:hover,
.planeta3:hover,
.planeta4:hover,
.planeta5:hover,
.planeta6:hover,
.planeta7:hover,
.planeta8:hover,
.planeta9:hover {
  box-shadow: 0 0 40px rgba(255, 255, 0, 5);
}

.astronauta {
  height: 170px;
  width: 200px;
  background-image: url("../../../assets/images/astro.retos.jugar.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  top: 46vh;
  right: 89vw;
  transform: translate(50%, -50%);
  z-index: 9;
}

.etiqueta{
  height: 150px;
  width: 400px;
  background-image: url("../../../assets/images/etiqueta.jugar.png");
  background-size: contain;
  background-repeat: no-repeat;
  color: white;
  position: fixed;
}

.etiqueta1{
  top: 40vh;
  right: 73vw;
  transform: translate(50%, -50%);
}

.etiqueta2{
  top: 37.2vh;
  right: 58.5vw;
  transform: translate(50%, -50%);
}

.etiqueta3{
  top: 35vh;
  right: 49.4vw;
  transform: translate(50%, -50%);
}

.etiqueta4{
  top: 27vh;
  right: 47vw;
  transform: translate(50%, -50%);
}

.etiqueta5{
  top: 63vh;
  right: 32vw;
  transform: translate(50%, -50%);
}

.etiqueta6{
  top: 53.5vh;
  right: 34.3vw;
  transform: translate(50%, -50%);
}

.etiqueta7{
  top: 53vh;
  right: 16.4vw;
  transform: translate(50%, -50%);
}

.etiqueta8{
  top: 42vh;
  right: 25vw;
  transform: translate(50%, -50%);
}

.etiqueta9{
  top: 42.6vh;
  right: 8.5vw;
  transform: translate(50%, -50%);
}

.puntero{
  height: 100px;
  width: 250px;
  background-image: url("../../../assets/images/puntero.jugar.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  transform: translate(50%, -50%);
}

.puntero1{
  top: 50vh;
  right: 72.5vw;
}

.puntero2{
  top: 47vh;
  right: 58vw;
}

.puntero3{
  top: 45vh;
  right: 48.7vw;
}

.puntero4{
  top: 37vh;
  right: 46.2vw;
}

.puntero5{
  top: 47vh;
  right: 36.5vw;
  transform: rotate(180deg);
}

.puntero6{
  top: 38vh;
  right: 39vw;
  transform: rotate(180deg);
}

.puntero7{
  top: 37vh;
  right: 21vw;
  transform: rotate(180deg);
}

.puntero8{
  top: 26vh;
  right: 29.3vw;
  transform: rotate(180deg);
}

.puntero9{
  top: 26vh;
  right: 13.3vw;
  transform: rotate(180deg);
}

.texto{
  height: 150px;
  width: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
}

.start{
  background-color: white;
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  width: 110px;
  height: 45px;
  border: 2px solid #d60707;
  border-radius: 15px;
  box-shadow: 0 2px 0#d60707;
  display: flex;
  justify-content:center;
  align-items: center;
  align-self: flex-end;
  text-decoration: none;
  transition: 1s linear;
  z-index: 99;
}

.start:hover {
  background-color: #FFFF00;
}
