.landing{
/* border: 1px solid red; */
height: 100vh;

display: flex;
flex-direction: column;
justify-content: center;
align-content: center;
font-family: 'Roboto', sans-serif;
}
.mundos{
/* border: 1px solid red; */
height: 90vh;
background-image: url("../../../assets/images/fondo.jugar.lineas.png");
background-size: 100% 100%;
background-repeat: no-repeat;
background-position: center;
}
.heider{
    /* border: 1px solid red; */
height: 3.5rem;
}
.footer{
    /* border: 1px solid red; */
height: 3rem;
}

button{
background-color: transparent;
color: white;
padding: 10px 15px;
font-size: 30px;
border: none;
border-radius: 5px;
cursor: pointer;
font-family: 'Monoton', sans-serif;
color: #FFFF00;
position: relative;
transition: transform 0.3s ease-in-out;
}
button:hover {
transform: scale(2) rotate(-360deg);
}

.btn1{
position: fixed;
top: 76%;
right: 83%;
}
.btn2{
position: fixed;
top: 73%;
right: 74%;
}
.btn3{
position: fixed;
top: 66%;
right: 65%;
}
.btn4{
position: fixed;
top: 60%;
right: 55%;
}
.btn5{
position: fixed;
top: 55%;
right: 45%;
}
.btn6{
position: fixed;
top: 43%;
right: 30%;
}
.btn7{
position: fixed;
top: 30%;
right: 18%;
}
.btn8{
position: fixed;
top: 22%;
right: 10%;
}
.btn9{
position: fixed;
top: 13%;
right: 2%;
}
.planeta1{
position: fixed;
top: 72%;
right: 82.5%;
width: 3%;
height: 5%;
border-radius: 50%;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta1:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 10); /* Agrega un resplandor alrededor del planeta en hover */
}

.planeta2{
position: fixed;
top: 66%;
right: 72.5%;
width: 5%;
height: 7%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta2:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta3{
position: fixed;
top: 60%;
right: 64%;
width: 5%;
height: 7%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta3:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta4{
position: fixed;
top: 55%;
right: 54.5%;
width: 4%;
height: 6%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta4:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta5{
position: fixed;
top: 41%;
right: 42%;
width: 10%;
height: 15%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta5:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta6{
position: fixed;
top: 29%;
right: 28%;
width: 10%;
height: 14%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta6:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta7{
position: fixed;
top: 25%;
right: 17.5%;
width: 4%;
height: 7%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta7:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta8{
position: fixed;
top: 17%;
right: 9.5%;
width: 4%;
height: 7%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta8:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}
.planeta9{
position: fixed;
top: 9.5%;
right: 2.5%;
width: 3%;
height: 6%;
border-radius: 50%;
color:white;
display: flex;
justify-content: center;
align-items: center;
transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.planeta9:hover {
box-shadow: 0 0 40px rgba(255, 255, 255, 5); /* Agrega un resplandor alrededor del planeta en hover */
}

.astronauta {
/* border: 1px solid red; */
height: 170px;
width: 380px;
background-image: url("../../../assets/images/astro.retos.jugar.png");
background-size: contain;
background-repeat: no-repeat;

position: fixed;
top: 73vh;
right: 85vw;
transform: translate(50%, -50%);
}

.etiqueta{
height: 150px;
width: 400px;
background-image: url("../../../assets/images/etiqueta.jugar.png");
background-size: contain;
background-repeat: no-repeat;
color: white;
position: fixed;
top: 54vh;
right: 79vw;
transform: translate(50%, -50%);


}

.puntero{
height: 100px;
width: 250px;
background-image: url("../../../assets/images/puntero.jugar.png");
background-size: contain;
background-repeat: no-repeat;


position: fixed;
top: 66vh;
right: 78.5vw;
transform: translate(50%, -50%);

}

.texto{
/* border: 1px solid red; */
height: 150px;
width: 210px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding: 10px;


}
.start{
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    width: 110px;
    height: 45px;
    border: 2px solid #d60707;
    border-radius: 15px;
    box-shadow: 0 2px 0#d60707;
    display: flex;
    justify-content:center;
    align-items: center;
    align-self: flex-end;
    text-decoration: none;
    transition: 1s linear;
}

.start:hover {
  background-color: #FFFF00;
}

.etiqueta2{
height: 150px;
width: 400px;
background-image: url("../../../assets/images/etiqueta.jugar.png");
background-size: contain;
background-repeat: no-repeat;
color: white;
position: fixed;
top: 49vh;
right: 70vw;
transform: translate(50%, -50%);


}

.puntero2{
height: 100px;
width: 250px;
background-image: url("../../../assets/images/puntero.jugar.png");
background-size: contain;
background-repeat: no-repeat;


position: fixed;
top: 61vh;
right: 69.5vw;
transform: translate(50%, -50%);

}

.texto2{
/* border: 1px solid red; */
height: 150px;
width: 210px;
display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
padding: 10px;


}

