<section>
  <h1>BIENVENIDO A <span class="text"><span class="js">JS</span>CODEGAMER</span></h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
      <input
        type="text"
        name="email"
        #emailId="ngModel"
        [(ngModel)]="user.email"
        placeholder="Email"
        [ngClass]="{'is-invalid': (emailId.dirty || emailId.touched) && emailId.invalid }" email required
      >
      <div *ngIf="(emailId.dirty || emailId.touched) && emailId.invalid" class="invalid-feedback">
        <div *ngIf="emailId.errors.required">La direccion de Email es obligatoria</div>
        <div *ngIf="emailId.errors.email">Direccion Email incorrecta</div>
      </div>

      
    <input
      type="password"
      name="password"
      id="password"
      placeholder="Contarseña"
    >
    <button type="submit">LOGIN</button>
  </form>
  <div>
    <img src="../../../assets/img/Astronauta.png" alt="astronauta con bandera">
  </div>
</section>
