section {
  background-color: black;
    background-image: url("../../../assets/images/Dark Gradient 02fondo-register.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: calc(100vh - 6.5rem);
    margin-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
    font-family: 'Roboto', sans-serif;

  }

  h1 {
    color: white;
    font-weight: 400;
    font-size: 1.5rem;
  }

  span {
    font-family: 'Monoton', sans-serif;
    font-size: 1.6rem;
    font-weight: 200;
    margin-right: .3ch;
  }

  form {
    width: 440px;
    height: auto;
    border: 2px solid #FFFFFF;
    border-radius: 20px;
    background-color: #2b144aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-block: 2rem;
    z-index: 99;
  }

  input {
    width: 369px;
    height: 46px;
    border: 2px solid #FFFFFF;
    border-radius: 15px;
    background-color: #2B144A;
    padding-inline: 1rem;
    color: white;
    font-size: 1rem;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: white;
    font-size: 1rem;
  }

  .image {
    position: absolute;
    left:18%;
    top: 20%;
    z-index: 99;
    animation: rotateInfinite 4s linear;
  }

  img{
    height: 300px;
  }

  @keyframes rotateInfinite {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  input[type="submit"] {
    background-color: white;
    color: black;
    font-weight: bold;
    font-size: 1.1rem;
    cursor: pointer;
    width: 210px;
    height: 45px;
    border: 2px solid #7451FF;
    border-radius: 15px;
    box-shadow: 0 2px 0#7451FF;
    transition: 1s linear;
  }

  input[type="submit"]:hover {
    background-color: #FFFF00;
  }

  input[type="submit"]:disabled {
    background-color: #aeae36;
    cursor: inherit;
  }

  .invalid-feedback {
    color: #FFFF00;
    font-size: .7rem;
    height: 1.5rem;
    text-align: center;
    padding: .2rem;
  }

  .substitute {
    height: 1.5rem;
  }
