<div class=" landing">
    <button id="backButton" [routerLink]="['/jugar']"><i class="bi bi-arrow-left"></i></button>
    <div class="animacion">
        <div class="titulo">
            <h1><span style="color: yellow;">NIVEL {{ apiService.themes[0].id_level }}: </span><span> {{ apiService.themes[0].title_level }}</span></h1>
        </div>
        <div class="texto">
            <br/>
            <p>{{ apiService.themes[0].intro }}</p>
          </div>
        <div class="btn">
            <button id="startButton" [style.display]="buttonDisplay" [disabled]="buttonDisabled" (click)="iniciarJuego()">S T A R T</button>
        </div>
    </div>
</div>
