<div class="landing">
    <div class="caja1_2">
        <div class="caja1">
            <p>
                Explora los <span style="color: yellow;">fundamentos de JavaScript</span> en nuestro emocionante viaje de
                descubrimiento, desde conceptos clave hasta <span style="color: yellow;">funciones y operadores</span>.
                Navega por el vasto universo de la programación y fortalece tu base
                en el desarrollo web con nuestro contenido cautivador.
            <br>
            <br>
            Aprenderás a trazar trayectorias con <span style="color: yellow;">bucles</span>, explorarás las galaxias de <span style="color: yellow;">variables</span> y te sumergirás en la lógica que
            gobierna el cosmos de las <span style="color: yellow;">condicionales</span>. ¡Prepárate para alcanzar nuevos límites en tu comprensión de JavaScript y
            desbloquea las puertas de la programación creativa en este viaje intergaláctico de conocimiento! 🚀💻✨</p>
        </div>
        <div class="caja2">
            <div class="tema1">
                <button class="btn" [routerLink]="['/aprender', 1]">TEMA 1</button>
            </div>

            <div class="tema3">
                <button class="btn3" [routerLink]="['/aprender', 3]" [disabled]="!isLevelUnlocked(3)">TEMA 3</button>
            </div>
        </div>
    </div>
        <div class="tema2y7">
            <button class="btn7" [routerLink]="['/aprender', 7]" [disabled]="!isLevelUnlocked(7)">TEMA 7</button>
            <button class="btn2" [routerLink]="['/aprender', 2]" [disabled]="!isLevelUnlocked(2)">TEMA 2</button>
        </div>
    <div class="caja3_4">
        <div class="caja3">
            <div class="tema6">
                <button class="btn6" [routerLink]="['/aprender', 6]" [disabled]="!isLevelUnlocked(6)">TEMA 6</button>
            </div>

            <div class="tema4">
                <button class="btn4" [routerLink]="['/aprender', 4]" [disabled]="!isLevelUnlocked(4)">TEMA 4</button>
            </div>

            <div class="tema5">
                <button class="btn5" [routerLink]="['/aprender', 5]" [disabled]="!isLevelUnlocked(5)">TEMA 5</button>
            </div>
            <div class="tema8">
                <button class="btn8" [routerLink]="['/aprender', 8]" [disabled]="!isLevelUnlocked(8)">TEMA 8</button>
            </div>
            <div class="tema9">
                <button class="btn9" [routerLink]="['/aprender', 9]" [disabled]="!isLevelUnlocked(9)">TEMA 9</button>
            </div>
        </div>
        <div class="caja4">

        </div>
    </div>
</div>
