.landing{
/* border: 3px solid red; */
height: 100vh;
background-image: url("../../../assets/images/nivelesLearn.png");
background-size: 150% 100%;
background-repeat: no-repeat;
background-position: center;



display: flex;
flex-direction: column;
overflow: hidden;
font-family: 'Roboto', sans-serif;


}
.caja1_2{
    display: flex;
}

.caja1{
    /* border: 1px solid yellowgreen; */
    /* height: 30vh; */
    width: 45vw;
    color:white;
    font-size: 1rem;
    font-family: 'roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    padding-left: 30px;
    text-align: justify;
    background-color: rgba(0, 0, 0, 0.39);
    padding: 20px;
    border-radius: 10px;
    margin-left: 10px;
    margin-top: 3%;

}

.caja2{
    /* border: 1px solid yellowgreen; */
    height: 46vh;
    width: 50vw;
}
.tema1{
/* border: 3px solid red; */
height: 16vh;

display:flex;
flex-direction: column;
justify-content: flex-end;
align-items:flex-end;
padding-right: 240px;
}
button {
margin: 0;
padding: 0;
border: none;
font: inherit;
color: inherit;
background-color: rgb(0, 0, 0);
cursor: pointer;
outline: none; 
font-family: 'Roboto', sans-serif;
}
.btn{
border: 3px solid yellow;
border-radius: 50px;
color: white;
font-size: 1vw;
padding: 0.5vw;
max-width: 150px;
width: 100%; 
position: fixed;
top: 12%;
right: 20%;
transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn:hover {
background-color: yellow; 
color:black;
transform: scale(1.5);
}
.tema3{
/* border: 3px solid red; */
height: 21vh;

display:flex;
flex-direction: column;
justify-content: flex-end;
align-items:center;
padding-right:480px;
}
.btn3{
border: 3px solid rgb(173, 15, 94);
border-radius: 50px;
color: white;
font-size: 1rw;
padding: 0.5vw; 
max-width: 150px;
width: 100%; 
position: fixed;
top: 27%;
right: 30%;
transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn3:hover {
background-color: rgb(173, 15, 94);
transform: scale(1.5);

}
/* .tema2y7{
    border: 3px solid red;
    height: 8vh;
    width: 100vw;
    display:flex;
    justify-content:space-evenly;
    align-items:flex-end;
    
} */
.btn7{
    border: 3px solid rgb(80, 3, 116);
    border-radius: 50px;
    color: white;
    font-size: 1vw;
    padding: 0.5vw;
    max-width: 150px;
    width: 100%; 
    position: fixed;
    top: 75%;
    right: 65%;

    transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn7:hover {
    background-color: rgb(80, 3, 116); 
    color:white;
    transform: scale(1.5);
}
.btn2 {
    border: 3px solid rgb(73, 225, 248);
    border-radius: 50px;
    color: white;
    font-size: 1vw;
    padding: 0.5vw; 
    max-width: 150px;
    width: 100%; 
    position: fixed;
    top: 38%;
    right: 20%;
    transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn2:hover {
    background-color: rgb(73, 225, 248); 
    color:black;
    transform: scale(1.5);
}

.caja3_4{
    display: flex;
}

.caja3{
    /* border: 2px solid yellowgreen; */
    height: 46vh;
    width: 60vw;
}

.tema6{
/* border: 3px solid red; */
height: 11vh;

display:flex;
flex-direction: column;
justify-content: flex-end;
padding-left: 255px;
}
.btn6{
border: 3px solid rgb(134, 252, 142);
border-radius: 50px;
color: white;
font-size: 1rw;
padding: 0.5vw; 
max-width: 150px;
width: 100%;
position: fixed;
top: 70%;
right: 53%;
transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn6:hover {
background-color: rgb(134, 252, 142);
color: black;
transform: scale(1.5);
}
.tema4{
/* border: 3px solid red; */
height: 5vh;

display:flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding-left: 500px;
}
.btn4{
border: 3px solid rgb(209, 142, 17);
border-radius: 50px;
color: white;
font-size: 1rw;
padding: 0.5vw; 
max-width: 150px;
width: 100%; 
position: fixed;
top: 34%;
right: 41%;
transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn4:hover {
background-color: rgb(209, 142, 17);
color: black;
transform: scale(1.5);
}
.tema5{
/* border: 3px solid red; */
height: 14vh;

display:flex;
flex-direction: column;
justify-content: flex-end;
align-items: center;
padding-left: 10px;
}
.btn5{
border: 3px solid rgb(209, 17, 17);
border-radius: 50px;
color: white;
font-size: 1rw;
padding: 0.5vw; 
max-width: 150px;
width: 100%; 
position: fixed;
top: 60%;
right: 50%;
transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn5:hover {
background-color:rgb(209, 17, 17);
transform: scale(1.5);
}
.btn8{
    border: 3px solid rgb(206, 30, 215);
    border-radius: 50px;
    color: white;
    font-size: 1vw; 
    padding: 0.5vw; 
    max-width: 150px;
    width: 100%; 
    position: fixed;
    top: 65%;
    right: 78%;
    transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn8:hover {
    background-color: rgb(206, 30, 215); 
    color:black;
    transform: scale(1.5);
}
.btn9{
    border: 3px solid rgb(222, 248, 73);
    border-radius: 50px;
    color: white;
    font-size: 1vw;
    padding: 0.5vw; 
    max-width: 150px;
    width: 100%; 
    position: fixed;
    top: 55%;
    right: 72%;
    transition:background-color 0.3s ease, transform 0.3s ease;
}
.btn9:hover {
    background-color: rgb(222, 248, 73); 
    color:black;
    transform: scale(1.5);
}
.caja4{
    /* border: 2px solid yellowgreen; */
    height: 40vh;
    width: 35vw;
    background-image: url("../../../assets/images/niño.libro.png");
    background-size: 100% 100%;
    bottom: 0;


}
