section {
  width: 100vw;
  height: calc(100vh - 6.5rem);
  margin-top: 3.5rem;
  display: flex;
  position: relative;
}

.left {
  width: 50%;
  height: 100%;
  border-right: 1px solid #FFFF00;
  background-image: url("../../../assets/img/fondo_learn.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  font-family: 'Roboto', sans-serif;

}

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.700);
  color: white;
  padding: 3rem;
}

.container {
  height: 100%;
  width: 100%;
}

h1, h2 {
  margin-bottom: .8rem;
  text-align: center;
  color: #FFFF00;
}

h2 {
  font-size: 1.2rem;;
}

.text {
  font-size: .9rem;
  line-height: 1.6rem;
  overflow-y: auto;
  max-height: 350px;
  margin-top: 1rem;
  padding-inline: 2rem;
}

.astronauta {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: 160px;
}

.arrows {
  width: calc(100% - 6rem);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: absolute;
  bottom: 20px;
}

.arrow {
  width: .8rem;
}

.arrow {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.right {
  width: 50%;
  height: 100;
  background-color: #0D0210;
  border-left: 1px solid #FFFF00;
  padding: 1rem;
  overflow: auto;
}

pre {
  overflow: auto;
  font-size: .9rem;
  background-color: #0D0210;
  border: 1px solid #510d65;
  border-radius: 15px;
}

.arrow[disabled] {
  display: none;
}

.submit {
  background-color: white;
  cursor: pointer;
  width: 110px;
  height: 45px;
  border: 2px solid #7451FF;
  border-radius: 15px;
  box-shadow: 0 2px 0#7451FF;
  transition: 1s linear;
  position: absolute;
  bottom: 25px;
  margin-inline: calc((90% - 110px) / 2);
}

.submit:hover {
  background-color: #FFFF00;
}

a {
  color: black;
  font-weight: bold;
  font-size: 1.1rem;
  text-decoration: none;
}
